@mixin mobile-nav {
  background-color: $colourTint02;
  border-right: 1px solid $colourBody;
  height: 100%;
  width: 16em;
  position: absolute;
  top: 0;
  left: -16em;
  text-transform:uppercase;
  letter-spacing:.15em;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: block;
    border-bottom: 1px solid $colourBody;
    a {
      margin:0;
      font-size:.8em;
      display: block;
      padding: 1.5em 1em;
      color: $colourBody;
      &:hover {
        background-color: $colourBody;
        color: $colourBodyInvert;
      }
    }
  }
  .sub {
    display: none;
    li {
      background-color: darken($colourAnchor, 5);
      &:last-child {
        border-bottom: none;
      }
    }
    a {
      color: #ccc;
    }
  }
}
