//* theme style specific variables *//

// headline font
$headline-font: "chaparral-pro", Helvetica, sans-serif;

// main font
$font: "proxima-nova", sans-serif;

// orange
$colourBody: #b85812;

// off white orange
$colourBodyInvert: #e0d6c8;

// light green
$colourBold: #7ba329;

// dark green
$colourAnchor: #516e16;

// general success and error colors
$red: #b94a48;
$green: #619114;

// background images

$background-texture: "paper.jpg";
$header-texture: "header-green.jpg";